######### Global ThreadPool #########
Ice.ThreadPool.Client.SizeMax = 10
Ice.ThreadPool.Server.SizeMax = 10
Ice.MessageSizeMax = 2000000

######### gossipAddress settings ################
# 内网IP
myself.ip = 192.168.207.129
# 公网静态IP
myself.pubIP = 192.168.207.129
# gossip组网端口
myself.gossipPort = 35791
# 节点rpc服务端口
myself.rpcPort = 35792
# 节点http服务端口
myself.httpPort = 35793
